@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@media screen and ( max-width:1051px){
  main .box-sections{
    display: flex;
    flex-wrap: wrap;
   }

   .box-sections .section-eventos{
    width: 100%;
    margin-right: 0;
   }

   .box-sections .section-links{
    width: 100%;
    margin-right: 0;
    margin-top: 50px;
   }
}

@media screen and (max-width:930px){
    header{
        display: none;
    }

    .cps-header-container .box-mobile{
        display: block;
      }
    
.cps-header-container .nav-list {
    display: block;
    position: fixed;
    top: 12vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #b20000;
    transform: translateX(100%);
    padding-bottom: 50px;
    z-index: 10;
    padding: 0 10px;
    max-height: 100vh; /* Define a altura máxima do menu como 100% da altura da viewport */
    overflow-x: none;
}

/* Estilos para os itens da navbar */


.nav-list li .sub-menu li .sub-link{
  font-size: 15px;
  font-weight: 400;
  border: none;
  color: #cccccc;
}

#sub-menu-ul{
  border: none;
  display: none;
}

#sub-menu-ul li a{
  color: #747474;
  font-size: 15px;
  font-weight: 400;
  border: none;
}


/* Estilos para os submenus */
.nav-list li .sub-menu{
    display: none;
}

/*
.nav-list li:hover ul{
    display: block;
    color: white;
}
*/
.nav-list li ul li {
    float: none;
}

/* Estilo para links nos submenus */
.nav-list li ul li a {
    color: white;
}


.nav-list::-webkit-scrollbar {
    width: 5px;            
  }
  
  .nav-list::-webkit-scrollbar-track {
    background:var(--color-terciary);      
  }
  
  .nav-list::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);    
    border-radius: 20px;      
  }


.nav-list li {
    margin-left: 0;
    opacity: 0;
    margin: 30px 0;
}

.nav-list li a{
    color: #fff;
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
}

.nav-list li a:hover{
    color: #b1b1b1;
}
.mobile-menu {
    display: block;
}

.nav-list.active {
transform: translateX(0);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}

to {
    opacity: 1;
    transform: translateX(0);
}
}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
background-color: white;
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-8px, -7px);
background-color: white;
}

.mobile-menu {
    z-index: 20;
    position: relative;
}

.mobile-menu div {
    width: 35px;
    height: 3px;
    background:#b20000;
    margin: 8px;
    transition: 0.3s;
    border-radius: 10px;
    z-index: 999;
}

}

@media screen and (max-width:903px){
  .container-rodape .box-left-rodape{
    flex-wrap: wrap;
    padding:0 0 0 20px;
    width: 40%;
  }

  .box-left-rodape .left-element{
    color: var(--color-terciary);
    border-right:none;
    margin-right: 0;
  }

  .box-right-rodape{
    width: 60%;
  }
}

@media screen and (max-width:900px){

    
  main .containerElements{
    max-width: 100%;
    height: auto;
    position: relative;
    top: -95px;
  }

    
  .containerElements .boxCircle{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
    width: 170px;
    height: 170px;
    overflow: hidden;

  }
  .boxCircle #circle{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.4s;
    background-color: greenyellow;
  }

  .boxElement h4{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-title);
  }
}

@media screen and (max-width:800px){
    .opacityCps .boxCpsElements{
        padding: 20px 20px;
      }

    .boxCpsElements h1{
        color: var(--color-terciary);
        font-size: 45px;
        line-height: 64px;
        font-weight: 200;
        margin: 30px 0;
        max-width: 100%;
    }

    #left-arrow, #right-arrow {
        display: none;
      }
    
}

@media screen and (max-width:752px){
    .globalTopBar .boxTopBar{
        display: none;
    }

    main .containerElements{//Adicionar slide responsivo nessa classe
        display: none;
      }

      main .section-divulga-vest{
        flex-wrap: wrap;
       }
      
       .section-divulga-vest .box-left-vestibulinho{
        max-width: 900px;
        height: auto;
        overflow: hidden;
       }
      
       .box-left-vestibulinho .img-vestibulinho{
        width: 100%;
        margin: 20px auto;
      }
}

@media screen and (max-width:650px){
  #cps-rodape .container-rodape{
    display: flex;
    flex-direction: column;
  }

  .container-rodape .box-left-rodape{
    display: flex;
  }

  .container-rodape .box-left-rodape{
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .box-left-rodape .left-element{
    padding:10px;
    border-right:none;
    margin-right: 0;
    text-align: center;
  }

  .box-right-rodape{
    width: 100%;
  }

  .container-rodape .box-right-rodape .background-cps{
    height: 300px;
    display: flex;
    flex-direction: column;
  }

  .background-cps img{
    width: 80px;
    position: relative;
    top: 50px;
    right:40vw;
    padding-left: 5px;
  }
  
}

@media screen and (max-width:600px){
    .boxCpsElements span{
        font-size: 15px;
    }

    .boxCpsElements h1{
        font-size: 40px;
    }

    .box-left-vestibulinho .img-vestibulinho{
        width: 100%;
        margin: 20px auto;
        height: 250px;
       }
}

@media screen and (max-width:550px){//modificar o responsivo da sessão destaque, está quebrando, as imagens estão com tamanhos diferentes uma das outras 

  .section-destaque .box-destaque a{
    display: flex;
    align-items: center;
   }
  
  .section-destaque .box-destaque{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 15px 10px;
   }

   .box-destaque .box-img{
    width: 190px;
    height: auto;
    overflow: hidden;
   }
  
   .box-destaque .imgDestaque1{
    width: 100%;
    height: 140px;
    transition: 0.3s;
   }

   .box-destaque .imgDestaque2{
    width: 100%;
    height: 140px;
    transition: 0.3s;
   }

   .box-destaque .imgDestaque3{
    width: 100%;
    height: 140px;
    transition: 0.3s;
   }

   .box-destaque .imgDestaque4{
    width: 100%;
    height: 140px;
    transition: 0.3s;
   }

   .box-destaque h3{
    color: var(--color-title);
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    width: 300px;
    padding: 0 10px;
   }
}

@media screen and (max-width:510px){

  .slide .opacityCps{
    width: 100%;
    height: 400px;
  }

  .boxCpsElements span{
    font-size: 12.5px;
}

  .boxCpsElements h1{
    color: var(--color-terciary);
    font-size: 26px;
    line-height: 40px;
    font-weight: 200;
    margin: 20px 0;
    max-width: 100%;
}

.box-left-vestibulinho .img-vestibulinho{
  height: 250px;
 }


.box-right-vestibulinho h3{
  font-size: 18px;
  font-weight: 400;
 }

 .box-right-vestibulinho p{
  font-size: 13px;
 }

 .box-right-vestibulinho button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
 }

  .section-links .box-links{
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 100px;
   }

   .section-links .flex-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

   .box-links h4{
    color: var(--color-title);
    font-size: 12.5px;
    width: 70%;
  }

  .box-sections .section-links{
    margin-right: 0;
   }

   .background-cps .flex-rede i{
    color:var(--color-secundary);
    font-size: 40px;
    transition: 0.3s;
    margin: 0 15px;
  }

   .flex-transparencia{
    flex-wrap: wrap;
    padding: 80px 10px;
  }

  .flex-transparencia button{
    margin: 10px 10px;
    width: 70%;
    min-width: 120px;
    border: none;
    background-color: #243e63;
    border-radius: 100px;
    transition: 0.3s;
  }

  .flex-transparencia button p{
    padding: 15px 0;
  }

  .box-destaque h3{
    color: var(--color-title);
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    width: 70%;
    padding: 0 10px;
   }
}

@media screen and (max-width:450px){

  .boxCpsElements button{
    padding: 10px 20px;
  }
  
  .box-destaque h3{
    color: var(--color-title);
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    margin-left: 5px;
   }
}

@media screen and (max-width:400px){
  .section-links .box-links{
    display: flex;
    align-items: center;
    width: 40%;
   }
}